[% WRAPPER 'include/layout.tt' with has_footer = 1 %]
<style>
  .image {
    margin: 0 auto;
    max-width: 320px;
    padding: 10px;
  }
  .image img {
    width: 100%;
    max-width: 320px;
  }
  
</style>
<form action="http://babyryserver5001/image/upload" method="post" enctype="multipart/form-data">
    File to upload to S3:
    <input name="file" type="file"><br>
    <input type="submit" value="Upload File to S3">
</form>
[% END %]
